body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: darkkhaki;
}
.logo img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
} 
header{
    display: flex;
    justify-content: center;
        align-items: center;
    gap: 30%;
    margin-top: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none ;
}li a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    background-color:royalblue;
    padding: 1Opx;
    border-radius: 10px;
    padding: 5px;
}
li a:hover{
    background-color: white;
    color: blueviolet;
}
/*FIN HEADER*/
/* A PROPOS*/
.container img{
   width: 400px; 
   height: 600px;
   border-radius: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.container p{
    font-size: 18px;
    line-height: 35px;
    border: 5px red solid;
    background-color:olivedrab;
    padding: 10px;
    border-radius: 10px;
}
section h1{
    text-align: center;
    text-decoration: underline;
}
/*DEBUT COMPETENCE*/
.item{
    display: flex;
   
}
.max{
    width: 200px;
    background-color: gray;
    height: 20px;
    border-radius: 10px;
}
.valeur{
    width: 95%;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.valeur1{
    width: 65%;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
}
.valeur2{
    width: 10%;
    height: 20px;
    background-color: rosybrown;
    border-radius: 10px;
}
div h2{
    text-decoration: underline;
}
.INSTA{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.INSTA img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.FACEBOOK{
    display: flex;
    align-items: center;
    gap: 10px;

    }
.FACEBOOK img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.WHATSHAP{
    display: flex;
    align-items: center;
    gap: 10px;

    }
.WHATSHAP img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}.form{
    display: flex;
    gap: 30px;
    justify-content: center;
}
    .fin{
        text-align: center;
        color: blue;
        font-size: 30px;
    }
    